@model BarberSOnline.Models.AppointmentModel

@{
    ViewData["Title"] = "ConfirmPayment";
}

<h1>ConfirmPayment</h1>

<div>
    <h4>AppointmentModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Services)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Services)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Charges)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Charges)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment_Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment_Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User_Booked_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User_Booked_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barber_Approved_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barber_Approved_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User_Confirmed_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User_Confirmed_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarberEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarberEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barber_Check_In_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barber_Check_In_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UserAppointment" class="btn btn-primary">Back to List</a>
</div>
@if (ViewBag.ErrorMessage != null)
{
    <script>alert("@ViewBag.ErrorMessage"); window.location = '/Appointment/UserAppointment';</script>
}
