@model BarberSOnline.Models.AppointmentModel
@using BarberSOnline.Areas.Identity.Data
@inject SignInManager<BarberSOnlineUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<center><h1>Appointment Detail</h1></center>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>\
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="form-gap"></div>
<div class="container" style="margin-bottom: 150px">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width:1100px">
                <div class="panel-body">
                    <div class="card-body">
                        <center><h3>Details</h3></center>
                        <hr />
                        <div class="col-sm-8">

                            <dl class="row">
                                @if (User.IsInRole("Admin") || User.IsInRole("Barber"))
                                {
                                    <dt class="col-sm-6">
                                        @Html.DisplayNameFor(model => model.UserEmail)
                                    </dt>
                                    <dd class="col-sm-6">
                                        @Html.DisplayFor(model => model.UserEmail)
                                    </dd>
                                }
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Type)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Type)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Services)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Services)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Charges)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Charges)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Appointment_Date)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Appointment_Date)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Appointment_Status)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Appointment_Status)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.User_Booked_Date)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.User_Booked_Date)
                                </dd>
                                @if (Model.Appointment_Status == "Approved" || Model.Appointment_Status == "Confirmed" ||
                                 Model.Appointment_Status == "Served" || Model.Appointment_Status == "Payment Pending" ||
                                 Model.Appointment_Status == "Paid")
                                {
                                    <dt class="col-sm-6">
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </dt>
                                    <dd class="col-sm-6">
                                        @Html.DisplayFor(model => model.Remark)
                                    </dd>
                                    <dt class="col-sm-6">
                                        @Html.DisplayNameFor(model => model.Barber_Approved_Date)
                                    </dt>
                                    <dd class="col-sm-6">
                                        @Html.DisplayFor(model => model.Barber_Approved_Date)
                                    </dd>
                                    if (Model.Appointment_Status == "Confirmed" || Model.Appointment_Status == "Served" ||
                                        Model.Appointment_Status == "Payment Pending" || Model.Appointment_Status == "Paid")
                                    {
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.User_Confirmed_Date)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.User_Confirmed_Date)
                                        </dd>
                                        if (Model.Appointment_Status == "Served" || Model.Appointment_Status == "Payment Pending" || Model.Appointment_Status == "Paid")
                                        {
                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.BarberEmail)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.BarberEmail)
                                            </dd>
                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Barber_Check_In_Date)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Barber_Check_In_Date)
                                            </dd>
                                        }
                                    }
                                }
                                @if (Model.Appointment_Status == "Cancelled")
                                {
                                    <dt class="col-sm-6">
                                        @Html.DisplayNameFor(model => model.Remark)
                                    </dt>
                                    <dd class="col-sm-6">
                                        @Html.DisplayFor(model => model.Remark)
                                    </dd>
                                    if (!Model.Barber_Approved_Date.ToString().Equals("1/1/0001 12:00:00 AM"))
                                    {
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.Barber_Approved_Date)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Barber_Approved_Date)
                                        </dd>
                                    }

                                    if (!Model.User_Confirmed_Date.ToString().Equals("1/1/0001 12:00:00 AM"))
                                    {
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.User_Confirmed_Date)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.User_Confirmed_Date)
                                        </dd>
                                    }

                                    if (Model.User_Cancelled_Reason != null)
                                    {
                                        if (User.IsInRole("Admin") || User.IsInRole("Barber"))
                                        {
                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.UserEmail)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.UserEmail)
                                            </dd>
                                        }
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.User_Cancelled_Reason)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.User_Cancelled_Reason)
                                        </dd>
                                    }
                                    else if (Model.Barber_Cancelled_Reason != null)
                                    {
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.BarberEmail)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.BarberEmail)
                                        </dd>
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.Barber_Cancelled_Reason)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Barber_Cancelled_Reason)
                                        </dd>
                                    }
                                    else if (Model.Admin_Cancelled_Reason != null)
                                    {
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.AdminEmail)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.AdminEmail)
                                        </dd>
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.Admin_Cancelled_Reason)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Admin_Cancelled_Reason)
                                        </dd>
                                    }
                                }
                            </dl>
                        </div>
                        <hr/>
                        <div>
                            @{
                                if (User.IsInRole("Admin"))
                                {
                                    if (Model.Appointment_Status == "Booked" || Model.Appointment_Status == "Approved")
                                    {
                                        <a asp-action="Cancel" asp-route-id="@Model.ID" class="btn btn-primary">Cancel Appointment</a><lable>|</lable>
                                    }
                                    <a asp-action="ViewAll" class="btn btn-primary">Back to List</a>
                                }
                                else if (User.IsInRole("Barber"))
                                {
                                    if (Model.Appointment_Status == "Booked")
                                    {
                                        <a asp-action="BarberApproval" asp-route-id="@Model.ID" class="btn btn-primary">Approve</a>
                                        <a asp-action="Cancel" asp-route-id="@Model.ID" class="btn btn-primary">Cancel Appointment</a><lable>|</lable>
                                    }
                                    else if (Model.Appointment_Status == "Approved")
                                    {
                                        <a asp-action="Cancel" asp-route-id="@Model.ID" class="btn btn-primary">Cancel Appointment</a><lable>|</lable>
                                    }
                                    else if (Model.Appointment_Status == "Confirmed")
                                    {
                                        <a asp-action="BarberServe" asp-route-id="@Model.ID" class="btn btn-primary">Serve</a><lable>|</lable>
                                    }
                                    else if (Model.Appointment_Status == "Served")
                                    {
                                        <a asp-action="GenerateReceipt" asp-route-id="@Model.ID" class="btn btn-primary">Generate Receipt</a><lable>|</lable>
                                    }
                                    <a asp-action="ViewAll" class="btn btn-primary" >Back to List</a>
                                }
                                else if (User.IsInRole("User"))
                                {
                                    if (Model.Appointment_Status == "Booked" || Model.Appointment_Status == "Approved")
                                    {
                                        <a asp-action="UserEdit" asp-route-id="@Model.ID" class="btn btn-primary">Update</a>
                                        <a asp-action="Cancel" asp-route-id="@Model.ID" class="btn btn-primary">Cancel Appointment</a><lable>|</lable>
                                    }
                                    else if (Model.Appointment_Status == "Payment Pending")
                                    {
                                        <a asp-action="ConfirmPayment" asp-route-id="@Model.ID" class="btn btn-primary">Confirm Payment</a><lable>|</lable>
                                    }

                                    <a asp-action="UserAppointment" class="btn btn-primary">Back to List</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .form-gap {
        padding-top: 10px;
    }
</style>





