@model IEnumerable<BarberSOnline.Models.AppointmentModel>

@{ ViewData["Title"] = "UserAppointment"; }
@section Scripts{
    <script>
        $('#tableSearch').load('Index.cshtml', function () {
            $("#tableSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}


<h1>UserAppointment</h1>
<input class="form-control mb-4" id="tableSearch" type="text" placeholder="&nbsp; Type something to search list items" style="height:40px;  border-radius: 8px; border: 1px solid black; margin:auto;">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Services)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Charges)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Appointment_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Appointment_Status)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { AppointmentId = item.ID }) |
        <a asp-action="UserEdit" asp-route-id="@item.ID">Update</a> |
        <a asp-action="Cancel" asp-route-id="@item.ID">Cancel</a> |<br />
        @Html.ActionLink("Confirm Payment", "ConfirmPayment", new { userappointmentID = item.ID })
    </td>
</tr>}
    </tbody>
</table>

@if (ViewBag.ErrorMessage != null)
{
<script>alert("@ViewBag.ErrorMessage");</script>}