@model IEnumerable<BarberSOnline.Models.AppointmentModel>
@using BarberSOnline.Areas.Identity.Data
@inject SignInManager<BarberSOnlineUser> SignInManager
@{
    ViewData["Title"] = "ViewAll";
    if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {
            Layout = "/Views/Shared/_LayoutAdmin.cshtml";
        }
        else if (User.IsInRole("Barber"))
        {
            Layout = "/Views/Shared/_LayoutBarber.cshtml";
        }
    }
}
@section Scripts{
    <script>
        $('#tableSearch').load('Index.cshtml', function () {
            $("#tableSearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

<h1>View Appointment</h1>
<input class="form-control mb-4" id="tableSearch" type="text" placeholder="&nbsp; Type something to search list items" style="height:40px;  border-radius: 8px; border: 1px solid black; margin:auto;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Services)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Charges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appointment_Status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { AppointmentId = item.ID }) |
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Cancel" asp-route-id="@item.ID">Cancel</a> 
                    }
                    else if (User.IsInRole("Barber"))
                    {
                        <a asp-action="BarberApproval" asp-route-id="@item.ID">Approve </a><label>|</label>
                        <a asp-action="Cancel" asp-route-id="@item.ID">Cancel</a> <br />
                        @Html.ActionLink("Generate Receipt", "GenerateReceipt", new { AppointmentId = item.ID })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.ErorMessage != null)
{
    <script>alert("@ViewBag.ErrorMessage");</script>
}