@model BarberSOnline.Models.UserModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
    <center><h1>Your Sreenning Report</h1></center>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>\
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="form-gap"></div>
<div class="container">
    <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width:1100px">
                    <div class="panel-body">
                        <div class="card-body">
                            <center><h3>Details</h3></center>
                            <hr />
                                    <div class="col-sm-5">

                                        <dl class="row">
                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.ID)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.ID)
                                            </dd>
                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Username)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Username)
                                            </dd>
                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Temperature)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Temperature)
                                            </dd>
                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Status)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Status)
                                            </dd>
                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.Visit)
                                            </dt>
                                            <dd class="col-sm-6">
                                                @Html.DisplayFor(model => model.Visit)
                                            </dd>
                                        </dl>
                            <hr />
                            <div>
                                <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a> |
                                <a asp-action="List">Back to List</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    .form-gap {
        padding-top: 10px;
    }
</style>
