@model IEnumerable<BarberSOnline.Models.FeedbackModel>
@using BarberSOnline.Areas.Identity.Data
@inject SignInManager<BarberSOnlineUser> SignInManager
@{
    ViewData["Title"] = "Index";
    if (SignInManager.IsSignedIn(User) && User.IsInRole("Barber"))
    {
        Layout = "/Views/Shared/_LayoutBarber.cshtml";
    }
    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<h1>Customer Feedback</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Feedback Title
            </th>
            <th>
                Username
            </th>
            <th>
                Timestamp
            </th>
            <th>
                Feedback Content
            </th>
            <th>
                Rating
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PartitionKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeedbackContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>


            </tr>
        }
    </tbody>
</table>
