@model IEnumerable<BarberSOnline.Models.UserModel>

@{
    ViewData["Title"] = "ScreeningList";
    Layout = "~/Views/Shared/_LayoutBarber.cshtml";
}

<h1>ScreeningList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visit)
            </td>
            <td>
                <a asp-action="ScreeningEdit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="ScreeningDetail" asp-route-id="@item.ID"> Details </a>
                <a asp-action="ScreeningDelete" asp-route-id="@item.ID"> Delete </a>
            </td>
        </tr>

        }

    </tbody>
</table>